@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#081120;
    color:white;
    overflow-x:hidden;
}

/* Background Blur */

body::before{
    content:"";
    position:fixed;
    width:450px;
    height:450px;
    background:#0ea5e9;
    filter:blur(180px);
    top:-150px;
    left:-150px;
    opacity:.25;
    z-index:-1;
}

body::after{
    content:"";
    position:fixed;
    width:450px;
    height:450px;
    background:#2563eb;
    filter:blur(180px);
    bottom:-180px;
    right:-150px;
    opacity:.25;
    z-index:-1;
}

/* Navbar */

nav{
    position:fixed;
    top:25px;
    left:50%;
    transform:translateX(-50%);
    width:80%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 40px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:60px;

    z-index:999;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:28px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
    font-weight:500;
}

nav ul li a:hover{
    color:#38bdf8;
}

/* HERO */

.hero{

    min-height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    width:85%;

    margin:auto;

}

.hero-text{

    width:55%;

}

.hero-text h3{

    color:#38bdf8;

    font-size:22px;

}

.hero-text h1{

    font-size:65px;

    margin-top:10px;

    line-height:80px;

}

.hero-text span{

    color:#38bdf8;

}

.hero-text h2{

    margin-top:20px;

    color:#bfc7d5;

    font-weight:400;

}

.hero-text p{

    margin-top:25px;

    line-height:32px;

    color:#c9d1d9;

}

.btn{

    margin-top:45px;

}

.btn a{

    display:inline-block;

    padding:16px 38px;

    margin-right:15px;

    border-radius:40px;

    text-decoration:none;

    color:white;

    transition:.35s;

}

.btn a:first-child{

    background:#0ea5e9;

}

.btn a:last-child{

    border:2px solid #38bdf8;

}

.btn a:hover{

    transform:translateY(-5px);

    box-shadow:0 0 25px #38bdf8;

}

.hero-image{

    width:40%;

    display:flex;

    justify-content:center;

}

.hero-image img{

    width:340px;

    height:340px;

    border-radius:50%;

    object-fit:cover;

    border:6px solid #38bdf8;

    box-shadow:0 0 50px #0ea5e9;
}

/* Responsive */

@media(max-width:900px){

nav{

width:95%;
padding:15px;

}

nav ul{

display:none;

}

.hero{

flex-direction:column-reverse;
text-align:center;
padding-top:180px;

}

.hero-text{

width:100%;

}

.hero-image{

width:100%;
margin-bottom:50px;

}

.hero-text h1{

font-size:42px;
line-height:55px;

}

.hero-image img{

width:230px;
height:230px;

}

}
#typing{
    color:#38bdf8;
    font-weight:600;
}

#typing::after{
    content:"|";
    animation:blink .7s infinite;
}

@keyframes blink{

50%{
opacity:0;
}

}
